doctype html
head
  title=title
  meta(charset='utf-8')
  meta(name='dev' content='Oh dong hyeong')
  meta(name="viewport" content="width=device-width, user-scalable=no")

  link(href='/header.css' rel='stylesheet' type='text/css')
  link(href='/menu.css' rel='stylesheet' type='text/css')
  link(href='/content.css' rel='stylesheet' type='text/css')
  //- link(rel='stylesheet' type='text/css' href='/main.css')
  script(src="https://code.jquery.com/jquery-3.5.1.min.js").
  script(src='/menuButton.js' type='text/javascript').
body
  div
    header#header_menu
      .left-menu-button(onclick='menu_toggleBtn();')
        .bar1.bar
        .bar2.bar
        .bar3.bar
      .logo
        span NuTube !
    div(style='margin-top:5px;')
      #modal_background
      .menu
        ul
          if user && user.id
            li
              a(href='/') HOME
            li
              a#upload(name='upload' href="/upload") 업로드
            li
              a#logout(name='logout') 로그아웃
            li
              a#mapMove(name='maps' href='/map') map
          else
            li
              a(href='/') HOME
            li
              a(name="login" href='/login') 로그인
            li
              a(name="register" href='/register') 회원가입

      #content
        if !(user && user.id)
          .modal_container
            .modal_content
              #register_login
                block content
        else
          .main_content2
            block content
  script.
    document.querySelector('#logout').addEventListener('click', async ()=>{
      var inUser = !{JSON.stringify(user)};
      var xhr=new XMLHttpRequest();
      if(inUser){
        if (confirm('로그아웃을 하시겠습니까?')){
          xhr.onload = ()=>{
            if(xhr.status===200){
              location.reload();
            }else{
              console.error(xhr.responseText);
            }
          };
          xhr.open('POST', '/auth/logout/');
          xhr.send();
        }
      }
    });
