extends layout

block content
    .list-container
        for data in datas
            a(href='/detail/'+data.id).card
                video.video(src=data.video_URL controls )
                span 닉네임: #{data.user.nick}
                span 제목: #{data.title}
                span 설명: #{data.text}
    script(type='text/javascript').
