extends layout

block content
    form#register_form(action='/auth/register' method='post')
        fieldset
            legend 회원가입
            .info_Form
                h3 정보를 입력해주세요.
                .Email
                    strong 이메일 주소 입력
                    input#email(type='email' placeholder='이메일을 입력해주세요.' name='email')
                    ul(type='disc')
                        li 이메일은 도용되지 않습니다.
                        li 개인 정보는 암호화되어 저장되기 때문에 걱정 안 하셔도 됩니다.
                div
                    strong 아이디 입력하시요.
                    input#id(type='text' placeholder='아이디를 입력하시오. 특수문자 안됩니다.' name='name')
                div
                    strong 비밀번호를 입력하시오.
                    input#password(type='password' placeholder='비밀번호를 입력하시오.' name='password')
                    strong 비밀번호를 재확인 해주세요.
                    input#password_check(type='password' placeholder='비밀번호를 재입력 해주세요.' name='password_check')
            .register-error=registerError
            input(type='submit' value='register')