extends layout

block content
    form.upload_form(method="post" action="/upload/write" enctype="multipart/form-data")
        label#video-label(for='video') 동영상 업로드
        input#video(type='file' accept='video/*' )
        input#video-url(type='hidden' name='url')
        label(for="title") 제목을 입력하시오:
        textarea(name="Title" cols="50" )
        label(for="text") 설명글을 입력하시오:
        textarea(name="Text" cols="50")
        input(type='submit' value='서브밋 !')
    script.
        if(document.querySelector('#video')) {
            document.querySelector('#video').addEventListener('change', function (){
                var formData = new FormData();
                formData.append('videoFile', this.files[0]);
                var xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        var url = JSON.parse(xhr.responseText).url;
                        document.getElementById('video-url').value = url;
                    } else {
                        console.error(xhr.responseText);
                    }
                };
                xhr.open('POST', '/upload/video');
                xhr.send(formData);
            });
        }