* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
li {
  list-style-position: inside;
}
#header {
  position: relative;
}

/* Logo */
.logo {
  background-color: #ff6947d3;
  width: 1080px;
  height: 4vh;
  line-height: 4vh;
  color: #020202be;
  font-size: 2vw;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
